:root {
    --page-color-1: #2F2A38    ;
    --background-color-1: #F18932;
    --background-color-2: #D16D61;
    --background-color-3: #79919D;
    --white-text: #efeeef;
}


/* Global Styles/Classes */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* a {
    color: black;
    text-decoration: none;
    position: relative;
    width: 100%;
} */

/* Custom Styles */
header {
    margin: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
}

#header-name{
    font-weight: bolder;
    font-style: oblique;
}

header nav a:not(:last-child) {
    margin-right: 10px;
}

header a:hover {
    color: blue;
    font-weight: bold;
}

header a:hover:after {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background-color: var(--background-color-1);
    position: absolute;
    left: 0;
    bottom: -5px;
    animation: slide-in .5s ease-in-out;
}

@keyframes slide-in {
    0% {
        transform: translateX(-20%);
        opacity: 0;
    }

    50% {
        transform: translateX(5%);
        opacity: 0.5;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Styling for the main intro section/about me section of the page */

.hero {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1.5fr .5fr 2fr;
    align-items: center;
    background-color: var(--background-color-1);
    color: var(--white-text);
    padding: 36px 0px;
}

.left {
    grid-column-start: 1;
    grid-column-end: 2;
}

.right {
    grid-column-start: 2;
    grid-row: 1 /span 3;
}

.hero h2 {
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

.hero p {
    text-align: center;
    padding: 8px 14px;
}

#aboutme{
    font-size: 18px;
    font-style: italic;
    padding: 10px 15px;
}

/* Scalable to page image */
#selfie {
    justify-self: center;
    align-self: center;
    margin: 5%;
    width: 80%;
    max-width: 370px;
    resize: both;
    opacity: 0;
    animation: fadeIn 5s ease-in forwards;
}

@keyframes fadeIn {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Styling for the main project section */

h1{
    margin: 5px;
    padding: 5px;
}

.main-project{
    background-color: var(--background-color-2);
    display: flex;
    flex-direction: column;
    position: relative;
    place-items: center;
    padding: 3%;
    margin: 2%;
}
.main-project img{
    width: 100%;
    max-width: 600px;
    resize: both;
}

/* Styling for the main section of the page */

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    background-color: var(--page-color-1);
}

h3 {
    color: black;
    justify-content: space-around;
    text-align: center;
    margin: 10px 0px 10px 0px;
}

/* Styling for the textboxes in the main section */

.textbox {
    display: flex;
    flex-direction: column;
    opacity: 0;
    position: relative;
    animation: reveal 9s forwards;
    place-items: center; 
    margin: 15px 10px;
    background-color: var(--background-color-3);
    color: var(--page-text-color);
}

.textbox::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: var(--background-color-3);
    animation: mask-reveal 10s forwards;
}

.textbox a{
    text-align: center;
}

@keyframes reveal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mask-reveal {
    0% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

.textbox img{
    width: 100%;
    max-width: 400px;
    resize: both;
}
/* Image spacing for the textboxes */

main img
{
    justify-content: space-around;
}

p {
    margin: 10px;
    padding: 8px 10px;
    justify-content: center;
    text-align: center;
}

/* Footer CSS */

footer
{
    margin: 10px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
}

footer nav a:not(:last-child) {
    margin-right: 10px;
}

footer a:hover {
    color: skyblue;
    font-weight: bold;
}

footer a:hover:after {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background-color: var(--page-color-1);
    position: absolute;
    left: 0;
    bottom: -5px;
    animation: slide-in .5s ease-in-out;
}

/* Desktop Syles */
@media (min-width: 900px) {

    h1, h3, h4{
        font-size: 200%;
    }

    p{
        font-size: 120%;
    }
    .hero {
        padding: 20px 0;
        font-size: 20px;
    }

    .hero h2 {
        font-size: 200%;
    }
    #aboutme
    {
        font-size: 150%;
    }

}