:root {
    --background-text-color: #3a3437;
    --background-page-color: #261e23;
    --box-color: #4e7081;
    --section-page-color: #36bed2;
    --page-text-color: #efeeef;
}


/* Global Styles/Classes */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    color: black;
    text-decoration: none;
    position: relative;
    width: 100%;
}

/* Custom Styles */
header {
    margin: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
}

header nav a:not(:last-child) {
    margin-right: 10px;
}

a:hover {
    color: orange;
    font-weight: bold;
}

a:hover:after {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background-color: var(--background-text-color);
    position: absolute;
    left: 0;
    bottom: -5px;
    animation: slide-in .5s ease-in-out;
}

@keyframes slide-in {
    0% {
        transform: translateX(-20%);
        opacity: 0;
    }

    50% {
        transform: translateX(5%);
        opacity: 0.5;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1.5fr .5fr 2fr;
    align-items: center;
    background-color: var(--background-text-color);
    color: var(--page-text-color);
    padding: 36px 0px;
}

.left {
    grid-column-start: 1;
    grid-column-end: 2;
}

.right {
    grid-column-start: 2;
    grid-row: 1 /span 3;
}

.hero h2 {
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

.hero p {
    text-align: center;
    padding: 8px 14px;
}

#aboutme{
    font-size: 18px;
    font-style: italic;
    padding: 10px 15px;
}

/* Scalable to page image */
#selfie {
    justify-self: center;
    align-self: center;
    margin: 5%;
    width: 80%;
    max-width: 100%;
    resize: both;
    opacity: 0;
    animation: fadeIn 5s ease-in forwards;
}

@keyframes fadeIn {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    background-color: var(--background-page-color);
}

.title {
    justify-content: space-around;
    text-align: center;
    margin: 10px 0px 10px 0px;
    color: var(--text-color);
}


.textbox {
    opacity: 0;
    position: relative;
    animation: reveal 9s forwards;
    justify-content: center;
    text-align: left;
    margin: 15px 10px;
    background-color: var(--background-text-color);
    color: var(--text-color);
}

.textbox::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: var(--background-page-color);
    animation: mask-reveal 10s forwards;
}

@keyframes reveal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mask-reveal {
    0% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

li {
    margin: 10px;
    margin-left: 24px;
    padding-left: 4px;
}

p {
    margin: 10px;
    padding: 4px 8px;
    justify-content: center;
    text-align: center;
}

/* Desktop Syles */
@media (min-width: 900px) {
    .hero {
        padding: 20px 0;
        font-size: 20px;
    }

    .hero h2 {
        font-size: 200%;
    }
    #aboutme
    {
        font-size: 150%;
    }
}